{{model.enrollment}}

{{model.teacher.username}}<br>
{{model.teacher.author}}<br>
{{model.teacher.status}}<br>
{{model.teacher.campusCode}}<br>
{{model.teacher.assignedEvaluation}}<br>
<ul>
	{{#each model.teacher.skillTests as |skill|}}

	    <li> {{skill.skillTest}} </li>
	    <li> {{skill.type}} </li>
	{{/each}}
</ul>